<h1>
	Solicitar Relatório
</h1>



<form asp-action="Solicitar">


	<div class="form-group">

		<label>
			Tipo de relatório
		</label>


		<select name="tipoRelatorio"
				class="form-control">


			<option>
				Vendas do mês
			</option>


			<option>
				Vendas por cliente
			</option>


			<option>
				Resumo financeiro
			</option>


		</select>


	</div>


	<br />


	<button class="btn btn-success">

		Solicitar

	</button>


</form>