@model List<NotificacaoViewModel>
@foreach (var item in Model)
{
    <div class="card mb-2 notificacao @(item.Lida ? "lida" : "nao-lida")"
         data-id="@item.Id">

        <div class="card-body">

            <strong>@item.Mensagem</strong>

            <br />

            <small>@item.DataCriacao</small>

            <br />

            <button class="btn btn-sm btn-primary mt-2 marcar-lida">
                Marcar como lida
            </button>           
        </div>

    </div>
}